<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
   <title>d f o l e y   @   s l e e p b o t . c o m :: :: <%= title %></title>
   <base href="<%= config.baseURL %>">

<link rel="stylesheet" type="text/css" href="/css/granular.css" media="all" charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/dfoley.css" media="all" charset="UTF-8" />

</head>
<body class="bkgWhite">



<!-- === -->
<div class="bkgBody" style="width:100%; padding: 50px 0 50px 0">
	<div class="posFlL posAlR" style="width:55%; min-width:55%">
		<div class="absolute ftrAlp50" style="
			top: 33%; left: 10%;
			width: 125%; height: 150px;
			background-image: url('/images/backgd/bub_pch.gif');
			background-repeat: repeat;
		"></div>
		<div class="relative" style="padding: 0 25px 0 25px">
			<img src="<%= image %>" title="<%= title %>" alt="<%= title %>" border="0" />
		</div>
	</div>
	<div class="posFlL posAlL" style="padding-top: 25px"><span class="fntFmSans fntSz16 bold">
		<%= title %>
	</span></div>
	<div class="clr"></div>
	</div>
</div>



<!-- === -->
<div class="clr dotRuleWhite"></div>
<div class="bkgWhite" style="width: 100%; padding-top: 15px">
	<div class="posFlR" style="width: 50%">
		<div class="posFlL bdrDotBody">
			<div class="fntFmSans fntSz11 bkgBody" style="padding: 6px 14px 6px 14px;">
HTML Implementation &nbsp; (c) 1995 - 2006<br />
Lookit the Cat Productions
			</div>
		</div>
	</div>

	<table class="noBMP" style="padding-right: 25px"><tr>
		<td style="padding: 5px"><a class="img" href="/lookit/etc/dfoley.html" target="_top"><img src="/lookit/images/icn_me.gif" alt="me" target="_top" height="75" width="75" border="0" /></a></td>
		<td style="padding: 10px">
			<span class="fntFmMono fntSz12 bold"><a href="/lookit/etc/dfoley.html" target="_top">me</a></span><br />
			<div class="fntFmMono fntSz11" style="padding: 10px 0 0 15px">
...more tedious talking about myself.
la dee da.
so dull, i am.
			</div>
	  </td>
	</tr></table>

	<table class="noBMP" style="padding-right: 25px"><tr>
		<td style="padding: 5px"><a class="img" href="/lookit/" target="_top"><div style="width:75px; height:25px; float:none"></div></a></td>
		<td style="padding: 10px">
			<span class="fntFmMono fntSz12 bold"><a href="/lookit/" target="_top">The Root of All Things Lookit</a></span><br />
	  </td>
	</tr></table>

	<table class="noBMP" style="padding-right: 25px"><tr>
		<td style="padding: 5px"><a class="img" href="/" target="_top"><div style="width:75px; height:25px; float:none"></div></a></td>
		<td style="padding: 10px">
			<span class="fntFmMono fntSz12 bold"><a href="/" target="_top">Sleepbot Constructs</a></span><br />
	  </td>
	</tr></table>

	&nbsp;
</div>
<div class="clr dotRuleWhite"></div>

</body>
</html>
